name: CI

on:  # Triggers the workflow on push or pull request events
  push:
  pull_request:

jobs:
  yaml:
    name: Validate YAML actions
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - run: yamllint -f parsable .
  chmod:
    name: Check shell scripts
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: shellcheck
        run: find . -name '*.sh' | xargs shellcheck -S warning
      - name: Ensure .sh files have chmod +x
        run: find . -name '*.sh' \! -executable | (! grep .)
